[package]
name = "kms"
version = "0.1.0"
authors = ["The Attestation Agent Authors"]
publish = false
edition = "2021"

[dependencies]
anyhow.workspace = true
async-trait.workspace = true
crypto = { path = "../crypto", default-features = false, optional = true}
hkdf = { version = "0.12.3", optional = true }
rand = { version = "0.8.4", optional = true }
serde = { workspace = true, optional = true }
serde_json = { workspace = true, optional = true }
sha2 = { version = "0.10.6", optional = true }
strum.workspace = true
tokio = "1.0"
uuid = { version = "1.3.0", features = ["fast-rng", "v4"], optional = true }
zeroize = { version = "1.6.0", optional = true }

[dev-dependencies]
tokio = { version = "1.0", features = ["rt", "macros" ] }

[features]
default = [ "sample-rust" ]

sample = [ "zeroize", "rand", "uuid", "hkdf", "sha2", "serde_json", "serde" ]
sample-openssl = [ "crypto/openssl", "sample" ]
sample-rust = [ "crypto/rust-crypto", "sample" ]
